{% extends 'base.html' %} {% block title %} Home1 {% endblock title %} {% block
    body %}
    
    <!-- multiple choice questions -->
    <div class="container mt-sm-5 my-1">
        <form action="/mainchat/{{check}}/{{question}}" method="POST">
            <div class="question ml-sm-5 pl-sm-5 pt-2">
                <div class="py-2 h5"><b>Hi {{name}} ! My name's Rebecca. Let's start with our session.</b></div>
                <div class="py-2 h5"><b>{{question}}</b></div>
                <!-- mcq options -->
    
                <!-- <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> <label class="options">Small Business Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> <label class="options">Nonprofit Owner or Employee <input type="radio" name="radio"> <span class="checkmark"></span> </label> <label class="options">Journalist or Activist <input type="radio" name="radio"> <span class="checkmark"></span> </label> <label class="options">Other <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div> -->
    
                <input class="form-control" type="text" placeholder="Default input" aria-label="default input example" name="query" id="query">
            </div>
            <div class="d-flex align-items-center pt-3">
                <!-- <div id="prev"> <button class="btn btn-primary">Previous</button> </div> -->
                <div class="ml-auto mr-sm-5"> <button type = "submit" class="btn btn-success">Next</button> </div>
            </div>
        </form>
    </div>
    
    {% endblock body %}